.header {
	max-width: 100%;
	margin-top: 18rem;

	@include clearfix;

	&__textbox {
		width: 100%;
	}

	&__hero {
		float: right;
		position: relative;
		margin-top: -8rem;
	}
}

.bg-blue {
	position: absolute;
	width: 80rem;
	height: 34rem;
	background-color: $color-soft-blue;
	border-radius: 40rem;
	z-index: -1;
	top: 30%;
	left: 30%;

	&--1 {
		position: absolute;
		width: 80rem;
		height: 34rem;
		border-radius: 40rem;
		z-index: -1;
		bottom: -88rem;
		left: -17%;
		background-color: $color-soft-blue;
	}
}

.hero {
	margin-left: 8%;
}

.main-text {
	font-size: 5rem;
	margin-bottom: 2rem;
	color: $color-dark-blue;
}

.description {
	font-size: 2rem;
	color: $color-grayish-blue;
	line-height: 1.5;
	margin-bottom: 5rem;
}
